# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

OOPG-ZetHierNaamVanJeSpel/.idea/

# User-specific stuff:
OOPG-ZetHierNaamVanJeSpel/.idea/**/workspace.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/tasks.xml
OOPG-ZetHierNaamVanJeSpel/.idea/dictionaries

# Sensitive or high-churn files:
OOPG-ZetHierNaamVanJeSpel/.idea/**/dataSources/
OOPG-ZetHierNaamVanJeSpel/.idea/**/dataSources.ids
OOPG-ZetHierNaamVanJeSpel/.idea/**/dataSources.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/dataSources.local.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/sqlDataSources.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/dynamic.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/uiDesigner.xml

# Gradle:
OOPG-ZetHierNaamVanJeSpel/.idea/**/gradle.xml
OOPG-ZetHierNaamVanJeSpel/.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
OOPG-ZetHierNaamVanJeSpel/.idea/**/mongoSettings.xml

## File-based project format:
OOPG-ZetHierNaamVanJeSpel/*.iws

**/*.iml

## Plugin-specific files:

# IntelliJ
OOPG-ZetHierNaamVanJeSpel/out/

# mpeltonen/sbt-idea plugin
OOPG-ZetHierNaamVanJeSpel/.idea_modules/

# JIRA plugin
OOPG-ZetHierNaamVanJeSpel/atlassian-ide-plugin.xml

# Cursive Clojure plugin
OOPG-ZetHierNaamVanJeSpel/.idea/replstate.xml

# Ruby plugin and RubyMine
OOPG-ZetHierNaamVanJeSpel//.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
OOPG-ZetHierNaamVanJeSpel/com_crashlytics_export_strings.xml
OOPG-ZetHierNaamVanJeSpel/crashlytics.properties
OOPG-ZetHierNaamVanJeSpel/crashlytics-build.properties
OOPG-ZetHierNaamVanJeSpel/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
OOPG-ZetHierNaamVanJeSpel/.idea/sonarlint

### Eclipse ###
OOPG-ZetHierNaamVanJeSpel/.metadata
OOPG-ZetHierNaamVanJeSpel/bin/
OOPG-ZetHierNaamVanJeSpel/tmp/
OOPG-ZetHierNaamVanJeSpel/*.tmp
OOPG-ZetHierNaamVanJeSpel/*.bak
OOPG-ZetHierNaamVanJeSpel/*.swp
OOPG-ZetHierNaamVanJeSpel/*~.nib
OOPG-ZetHierNaamVanJeSpel/local.properties
OOPG-ZetHierNaamVanJeSpel/.settings/
OOPG-ZetHierNaamVanJeSpel/.loadpath
OOPG-ZetHierNaamVanJeSpel/.recommenders

# External tool builders
OOPG-ZetHierNaamVanJeSpel/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
OOPG-ZetHierNaamVanJeSpel/*.launch

# PyDev specific (Python IDE for Eclipse)
OOPG-ZetHierNaamVanJeSpel/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
OOPG-ZetHierNaamVanJeSpel/.cproject

# Java annotation processor (APT)
OOPG-ZetHierNaamVanJeSpel/.factorypath

# PDT-specific (PHP Development Tools)
OOPG-ZetHierNaamVanJeSpel/.buildpath

# sbteclipse plugin
OOPG-ZetHierNaamVanJeSpel/.target

# Tern plugin
OOPG-ZetHierNaamVanJeSpel/.tern-project

# TeXlipse plugin
OOPG-ZetHierNaamVanJeSpel/.texlipse

# STS (Spring Tool Suite)
OOPG-ZetHierNaamVanJeSpel/.springBeans

# Code Recommenders
OOPG-ZetHierNaamVanJeSpel/.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
OOPG-ZetHierNaamVanJeSpel/.cache-main
OOPG-ZetHierNaamVanJeSpel/.scala_dependencies
OOPG-ZetHierNaamVanJeSpel/.worksheet

### Eclipse Patch ###
# Eclipse Core
OOPG-ZetHierNaamVanJeSpel/.project

# JDT-specific (Eclipse Java Development Tools)
OOPG-ZetHierNaamVanJeSpel/.classpath

# End of https://www.gitignore.io/api/eclipse